# Barn og kropp

Barn og kropp, forskjeller. 
* hvilke kroppsdeler voksen vs. barn
* bruk av pronomen, possessiver

In [10]:
import dhlab.nbtext as nb
import dhlab.module_update as mu
mu.update('mods_meta')
import mods_meta as mm
mu.update('collocations')
import collocations as coll
import pandas as pd

Updated file `D:\Documents\GitHub\Miscellaneous-Notebooks\Barn_kropp_Uri\mods_meta.py`

Updated file `D:\Documents\GitHub\Miscellaneous-Notebooks\Barn_kropp_Uri\collocations.py`

In [4]:
corpus = mm.meta_natbib(children=True, yearfrom=2010, yearto=2020, limit=10000)

In [5]:
len(corpus)

6595

In [7]:
corpus_urns = [u[1] for u in corpus]

In [ ]:
corpus_meta = pd.concat([mm.metadata(corpus_urns[i:i+500]) for i in range(0, len(corpus_urns), 500)])

In [ ]:
corpus_meta

In [ ]:
nb.urn_concordance(word='Janna', urns=list(corpus.urns), size=20, after=12, before=12)

In [46]:
collh = nb.urn_coll('håret', urns=list(corpus.urn), after = 3, before= 0)

In [47]:
nb.normalize_corpus_dataframe(collh)

True

In [33]:
tot = nb.frame(nb.totals(50000), 'tot')
nb.normalize_corpus_dataframe(tot)

True

In [53]:
diff = nb.frame(collh[0]**0.3*collh[0]/tot.tot)

In [54]:
diff.sort_values(by=0, ascending=False)[:30]

                   0
bustete    88.405625
utslått    65.353655
klistret   43.398688
stritt     43.084309
flagret    32.887909
strittet   25.935549
hennes     23.940496
vått       23.652689
krøller    23.323448
mitt       23.000485
oppsatt    18.954282
klippet    18.703766
børstet    18.157761
bakover    18.021068
ditt       15.452751
pannen     15.194576
nappe      12.978044
fletter    12.928210
Mira       12.386534
hang       11.741544
værs       11.740981
Faith      11.612123
grått      11.277289
svidd      10.403643
flagrende  10.302514
Jenna      10.210070
skjegget   10.054239
krøllet     9.852688
stramt      9.842138
hennar      9.511091