In [1]:
import json
import sqlite3
import requests
import pandas as pd

import pandas as pd
import dhlab.module_update as mu
mu.update('mods_meta')
import mods_meta as mm
import dhlab.nbtext as nb

Updated file `C:\Users\larsj\Documents\GitHub\Miscellaneous-Notebooks\Barnebokinstituttet_prosjekt\mods_meta.py`

In [2]:
x = mm.meta_natbib(children=True, yearfrom =2015, limit=1000)

In [6]:
mm.metadata([x[700][0]])

{'991504418354702201': {'100-1- -a': 'Strüwer, Ardina',
  '245-1-0-a': 'Hest &amp; moro!',
  '260- - -c': '2015?',
  'lang': 'nob',
  'year': 2015}}

In [94]:
babi = pd.DataFrame()
step = 300
for i in range(0, len(x), step):
    print(i)
    df = nb.get_aggregated_corpus([z[1] for z in x[i:i+step]])
    babi = nb.frame(pd.concat([babi, df], axis=1).sum(axis=1))

0
300
600

In [96]:
babi.sum()

0    23843421.0
dtype: float64

In [97]:
babi.loc['Pakistan']

0    89.0
Name: Pakistan, dtype: float64

In [102]:
babi[0]

.              1521242.0
,               938315.0
og              529102.0
i               365131.0
det             348010.0
                 ...
dnømmende            1.0
dnittungene          1.0
diotsikker           1.0
detjjj               1.0
02.09.2014           1.0
Name: 0, Length: 488632, dtype: float64

In [108]:
babi.loc[babi.index.str.contains('pakistan')].sum()

0    19.0
dtype: float64

In [110]:
babi.loc[babi.index.str.contains('persisk.*')].sum()

0    33.0
dtype: float64

In [112]:
babi.loc[babi.index.str.contains('indisk')].sum()

0    120.0
dtype: float64

In [113]:
babi.loc[babi.index.str.contains('kinesisk')].sum()

0    233.0
dtype: float64

In [115]:
babi.loc[babi.index.str.contains('koreansk')].sum()

0    18.0
dtype: float64

In [111]:
babi.loc[babi.index.str.contains('svensk')].sum()

0    739.0
dtype: float64

In [119]:
babi.loc[babi.index.str.contains('tirtilltutt')].sum()

0    0.0
dtype: float64

In [147]:
nasjonal = {w:float(babi.loc[babi.index.str.contains(w)].sum()) for w in "pakistansk urdu pakkis kebab persisk indisk kinesisk dansk fransk tysk svensk norsk amerikan".split() }
nb.frame(nasjonal)

                 0
pakistansk    13.0
urdu          13.0
pakkis         5.0
kebab         29.0
persisk       33.0
indisk       120.0
kinesisk     233.0
dansk        416.0
fransk       711.0
tysk        1002.0
svensk       739.0
norsk       2549.0
amerikan     690.0

In [134]:
nb.frame(nasjonal).style.background_gradient()

In [146]:
seksuell = {w:float(babi.loc[babi.index.str.contains(w)].sum()) for w in "lesbisk homo homse trans lesbe hetero straight".split() }
nb.frame(seksuell)

              0
lesbisk    19.0
homo      428.0
homse      57.0
trans     744.0
lesbe      11.0
hetero     44.0
straight   47.0

In [133]:
handicap = {w:float(babi.loc[babi.index.str.contains(w)].sum()) for w in "blind døv amputert svaksynt albino tunghørt".split() }
nb.frame(handicap)

               0
blind     1486.0
døv        782.0
amputert    13.0
svaksynt     8.0
albino      11.0
tunghørt     6.0

In [151]:
kropp = {w:float(babi.loc[babi.index.str.contains(w)].sum()) for w in "øyne skuldr lår midje mave mage hofte rumpe rygg skulder hår ".split() }
nb.frame(kropp)

               0
øyne     17555.0
skuldr    4436.0
lår       3517.0
midje      131.0
mave        14.0
mage      5352.0
hofte      541.0
rumpe      279.0
rygg     11890.0
skulder   4230.0
hår      10830.0

In [129]:
{w:float(babi.loc[babi.index.str.contains(w)].sum()) for w in "ung gammel stykk vakker pen frastøtende fæl".split() }

{'ung': 19730.0,
 'gammel': 4684.0,
 'stykk': 5592.0,
 'vakker': 1534.0,
 'pen': 57747.0,
 'frastøtende': 35.0,
 'fæl': 859.0}

In [136]:
hm = lambda x: nb.heatmap(nb.frame(x))

In [137]:
hm(nasjonal)

In [139]:
hm(seksuell)

In [140]:
hm(handicap)

In [145]:
metadata(x[410][1])

[(991441748124702201, 245, 1, 0, 'a', 'Robinson Crusoe'),
 (991441748124702201,
  245,
  1,
  0,
  'c',
  'Daniel Defoe ; gjenfortalt av Wolfgang Knape ; med fargebilder av Ute Thönissen ; [oversatt av Øystein Rosse]'),
 (991441748124702201, 100, 1, ' ', '0', '(NO-TrBIB)90252770'),
 (991441748124702201, 100, 1, ' ', '4', 'aut'),
 (991441748124702201, 100, 1, ' ', 'a', 'Knape, Wolfgang'),
 (991441748124702201, 100, 1, ' ', 'd', '1947-,')]