In [46]:
import json
import sqlite3
import requests
import pandas as pd

import pandas as pd


def query(db, sql, params = ()):
    with sqlite3.connect(urndb) as con:
        cur = con.cursor()
        cur.execute(sql, params)
        res = cur.fetchall()
    return res

urndb = "/home/larsj/terra/sqlite/nasjonalbibliografi2020/nasjonalbiblio2019.db"
nasjonalbiblio  = "/home/larsj/terra/sqlite/nasjonalbibliografi2020/nasjonalbiblio2019.db"

In [74]:
def metadata(identifier, keys = [100, 130, 245, 200, 650, 653, 375], db = nasjonalbiblio):
    ident = query(db, "select id from id_urn_map where id = ? or urn = ?", (identifier, identifier))
    if ident != []:
        ident = ident[0][0]
    else:
        return []
    sql = """
    select id, tag, ind1, ind2, code, group_concat(value,', ') from biblio where
        id = ? and
        tag in ({questionmarks}) group by id, ind1, ind2, tag, code
    """.format(
         questionmarks = ','.join(['?']*len(keys)))  
    #print(sql)
    result = query(db, sql, (ident,) + tuple(keys))
    return result

In [61]:
def select_marc21(db = nasjonalbiblio, yearfrom = "", yearto = "", barnebok=False, conditions = None, limit = 20):
    sql = []
    param = []
    
    if barnebok == True:
        sql.append("""select 
            id 
        from 
            controlfield008 
        where 
            substr(value, 23, 1) = 'j' 
        """)
    else:
        sql.append("""select 
            id 
        from 
            controlfield008 
        where 
            substr(value, 23, 1) != 'j' 
        """)

    if yearfrom != '' and yearto != '':
        try:
            yearfrom = int(yearfrom)
            yearto = int(yearto)
            sql.append("select id from controlfield008 where year >= ? and year <= ?")
            param.append(yearfrom)
            param.append(yearto)

        except ValueError:
            return []
        
    elif yearto != '':
        try:
            yearto = int(yearto)
            sql.append("select id from controlfield008 where year <= ? ")
            param.append(yearto)

        except ValueError:
            return []
        
    elif yearfrom != '':
        try:
            yearfrom = int(yearfrom)
            sql.append("select id from controlfield008 where year >= ? ")
            param.append(yearfrom)

        except ValueError:
            return []

        
    for r in conditions:
        tag = r[0]   # identity
        ind1 = r[1]
        ind2 = r[2]
        code = r[3]
        value = r[4] # use wildcards *
        value = value.replace('*', '%')
        
        sql.append("select id from biblio where tag = ? and ind1 = ? and ind2 = ? and code = ? and value like ?")
        param += [r[0], r[1], r[2], r[3], value]

    sql_selector = ' intersect '.join(sql)
    #print(sql_selector)
    params = tuple(param) + (limit,)
    #print(params)
    if sql_selector == "":
        sql_statement = """
            select id, urn from 
            id_urn_map
            order by random()
            limit ?
        """
    else:
        sql_statement =  """
            select i.id, m.urn from 
                ({sql}) as i,
                id_urn_map as m
            where
                i.id = m.id
            order by random()
            limit ?
        """.format(sql = sql_selector)
        
    return query(db,sql_statement, params)

Marc21 structures

In [49]:
def marc_tuples(author=None, title=None, subtitle=None, publisher=None):
    res = {
        
        'author': (100, '1', ' ', 'a', author),
        'title': (245, '1', '0', 'a', title),
        'subtitle': (245, '1', '0', 'b', subtitle),
        'publisher': (260, ' ', ' ', 'b', publisher)
    }
    return [x for x in res.values() if x[4] != None]

In [58]:
def biblio_search(db = None, barnebok=False, yearfrom = "", yearto = "", lang=None, author=None, title=None, subtitle=None, publisher=None, marctuples=None, limit=20):
    search_conditions = marc_tuples(author,title, subtitle, publisher)
    if marctuples == None:
        marctuples = []
    marc_conditions = search_conditions + marctuples
    return select_marc21(db = db,barnebok=barnebok, yearfrom=yearfrom, yearto=yearto, limit=limit, conditions=marc_conditions)

In [62]:
x =biblio_search(barnebok=True, yearfrom =2015, limit=1000)

In [71]:
y = biblio_search(yearfrom=2015, marctuples=[(650, ' ', 7, 'a', 'barnelitteratur')])

In [72]:
[metadata(z[0]) for z in y]

[[(991511791664702201, 100, 1, ' ', '0', '(NO-TrBIB)97047044'),
  (991511791664702201, 100, 1, ' ', '4', 'aut'),
  (991511791664702201, 100, 1, ' ', 'a', 'Solstad, Trine'),
  (991511791664702201, 100, 1, ' ', 'd', '1961-,'),
  (991511791664702201,
   650,
   ' ',
   7,
   '0',
   '(NO-TrBIB)HUME07037, (NO-TrBIB)HUME07174, (NO-TrBIB)HUME21785'),
  (991511791664702201,
   650,
   ' ',
   7,
   '2',
   'humord, humord, humord, nbiemnfag, nbiemnfag'),
  (991511791664702201,
   650,
   ' ',
   7,
   'a',
   'Barnehagebarn, Barnehagepedagogikk, Barnelitteratur, Bildebøker, Resepsjon'),
  (991511791664702201,
   653,
   ' ',
   ' ',
   'a',
   '140000, barn, barnelitteratur, bildebøker, doktoravhandlinger, fakultet, humaniora, lesing, pedagogikk, resepsjon')],
 [(991513046534702201,
   650,
   ' ',
   7,
   '0',
   '(NO-TrBIB)HUME06959, (NO-TrBIB)HUME07037, (NO-TrBIB)HUME07171, (NO-TrBIB)HUME11120, (No-TrBIB)HUME09522, (No-TrBIB)HUME29169'),
  (991513046534702201,
   650,
   ' ',
   7,
   '2',
   'humord, humord, humord, humord, humord, humord, nbiemnfag, tekord'),
  (991513046534702201,
   650,
   ' ',
   7,
   'a',
   'Barn, Barnelitteratur, Krig, Krig - Litterært tema, Litteraturvitenskap (Barnebøker), Motiver, Norsk litteratur, Ungdom'),
  (991513046534702201,
   653,
   ' ',
   ' ',
   'a',
   'barnelitteratur, krig, litteraturkritikk, litterære, motiv')],
 [(991506870364702201, 100, 1, ' ', '0', '(NO-TrBIB)90969790'),
  (991506870364702201, 100, 1, ' ', '4', 'aut'),
  (991506870364702201, 100, 1, ' ', 'a', 'Larsen, Ann Sylvi'),
  (991506870364702201, 100, 1, ' ', 'd', '1963-,'),
  (991506870364702201,
   650,
   ' ',
   7,
   '0',
   '(NO-TrBIB)HUME04611, (NO-TrBIB)HUME06754, (NO-TrBIB)HUME07037'),
  (991506870364702201, 650, ' ', 7, '2', 'humord, humord, humord'),
  (991506870364702201,
   650,
   ' ',
   7,
   'a',
   'Barnekultur, Barnelitteratur, Grøssere'),
  (991506870364702201,
   653,
   ' ',
   ' ',
   'a',
   'barn, barnelitteratur, grøssere, skrekkfiksjon, spenningslitteratur, ungdom')]]

In [83]:
metadata(x[700][0],  keys = [100, 200, 245])

[(991508407054702201, 245, 1, 0, 'a', 'Fillip flipper ut'),
 (991508407054702201, 245, 1, 0, 'c', 'Martin Ernstsen'),
 (991508407054702201, 100, 1, ' ', '0', '(NO-TrBIB)9075415'),
 (991508407054702201, 100, 1, ' ', '4', 'aut, ill'),
 (991508407054702201, 100, 1, ' ', 'a', 'Ernstsen, Martin'),
 (991508407054702201, 100, 1, ' ', 'd', '1982-,')]

In [84]:
import dhlab.nbtext as nb

In [85]:
x[700]

(991508407054702201, 2018061107082)

In [88]:
a = nb.get_freq(x[700][1], 0, 0)

In [89]:
b = nb.get_freq(x[701][1], 0, 0)

In [94]:
babi = pd.DataFrame()
step = 300
for i in range(0, len(x), step):
    print(i)
    df = nb.get_aggregated_corpus([z[1] for z in x[i:i+step]])
    babi = nb.frame(pd.concat([babi, df], axis=1).sum(axis=1))

0
300
600

In [96]:
babi.sum()

0    23843421.0
dtype: float64

In [97]:
babi.loc['Pakistan']

0    89.0
Name: Pakistan, dtype: float64

In [102]:
babi[0]

.              1521242.0
,               938315.0
og              529102.0
i               365131.0
det             348010.0
                 ...
dnømmende            1.0
dnittungene          1.0
diotsikker           1.0
detjjj               1.0
02.09.2014           1.0
Name: 0, Length: 488632, dtype: float64

In [108]:
babi.loc[babi.index.str.contains('pakistan')].sum()

0    19.0
dtype: float64

In [110]:
babi.loc[babi.index.str.contains('persisk.*')].sum()

0    33.0
dtype: float64

In [112]:
babi.loc[babi.index.str.contains('indisk')].sum()

0    120.0
dtype: float64

In [113]:
babi.loc[babi.index.str.contains('kinesisk')].sum()

0    233.0
dtype: float64

In [115]:
babi.loc[babi.index.str.contains('koreansk')].sum()

0    18.0
dtype: float64

In [111]:
babi.loc[babi.index.str.contains('svensk')].sum()

0    739.0
dtype: float64

In [119]:
babi.loc[babi.index.str.contains('tirtilltutt')].sum()

0    0.0
dtype: float64

In [147]:
nasjonal = {w:float(babi.loc[babi.index.str.contains(w)].sum()) for w in "pakistansk urdu pakkis kebab persisk indisk kinesisk dansk fransk tysk svensk norsk amerikan".split() }
nb.frame(nasjonal)

                 0
pakistansk    13.0
urdu          13.0
pakkis         5.0
kebab         29.0
persisk       33.0
indisk       120.0
kinesisk     233.0
dansk        416.0
fransk       711.0
tysk        1002.0
svensk       739.0
norsk       2549.0
amerikan     690.0

In [134]:
nb.frame(nasjonal).style.background_gradient()

In [146]:
seksuell = {w:float(babi.loc[babi.index.str.contains(w)].sum()) for w in "lesbisk homo homse trans lesbe hetero straight".split() }
nb.frame(seksuell)

              0
lesbisk    19.0
homo      428.0
homse      57.0
trans     744.0
lesbe      11.0
hetero     44.0
straight   47.0

In [133]:
handicap = {w:float(babi.loc[babi.index.str.contains(w)].sum()) for w in "blind døv amputert svaksynt albino tunghørt".split() }
nb.frame(handicap)

               0
blind     1486.0
døv        782.0
amputert    13.0
svaksynt     8.0
albino      11.0
tunghørt     6.0

In [151]:
kropp = {w:float(babi.loc[babi.index.str.contains(w)].sum()) for w in "øyne skuldr lår midje mave mage hofte rumpe rygg skulder hår ".split() }
nb.frame(kropp)

               0
øyne     17555.0
skuldr    4436.0
lår       3517.0
midje      131.0
mave        14.0
mage      5352.0
hofte      541.0
rumpe      279.0
rygg     11890.0
skulder   4230.0
hår      10830.0

In [129]:
{w:float(babi.loc[babi.index.str.contains(w)].sum()) for w in "ung gammel stykk vakker pen frastøtende fæl".split() }

{'ung': 19730.0,
 'gammel': 4684.0,
 'stykk': 5592.0,
 'vakker': 1534.0,
 'pen': 57747.0,
 'frastøtende': 35.0,
 'fæl': 859.0}

In [136]:
hm = lambda x: nb.heatmap(nb.frame(x))

In [137]:
hm(nasjonal)

In [139]:
hm(seksuell)

In [140]:
hm(handicap)

In [145]:
metadata(x[410][1])

[(991441748124702201, 245, 1, 0, 'a', 'Robinson Crusoe'),
 (991441748124702201,
  245,
  1,
  0,
  'c',
  'Daniel Defoe ; gjenfortalt av Wolfgang Knape ; med fargebilder av Ute Thönissen ; [oversatt av Øystein Rosse]'),
 (991441748124702201, 100, 1, ' ', '0', '(NO-TrBIB)90252770'),
 (991441748124702201, 100, 1, ' ', '4', 'aut'),
 (991441748124702201, 100, 1, ' ', 'a', 'Knape, Wolfgang'),
 (991441748124702201, 100, 1, ' ', 'd', '1947-,')]