## Tell opp korpus

In [9]:
import dhlab.nbtext as nb
import pandas as pd

Lag et korpus med passende kommando fra `nb.` eller les fra fil.

In [3]:
corpus = nb.book_corpus(ddk='641%', limit=1000)

In [4]:
len(corpus)

1000

In [6]:
corpus.head()

,urn,author,title,year
0,2008070400009,"Overland, Solveig",Middag og småretter til hverdag og fest,1993
1,2016042648118,"Persen, Nan",Guollemáles,2012
2,2010042203037,"Matz, Carina Lernhagen",Godt ombord,1998
3,2007121204015,,Norsk storfekjøtt,1994
4,2013053008060,"Lange, Marit",Italiensk mat,1976

Raskeste måte å telle opp korpuset er med nb.get_aggregated_corpus()
Ofte lurt å bruke nb.pure_urn(korpus) i og med at korpusene kommer i litt forskjellig format, som lister eller pandas eller liste av lister. Her fra de 5 første:

In [8]:
nb.get_aggregated_corpus(nb.pure_urn(corpus.head()))

                   0
.               5337
,               4403
og              3876
i               3403
en              1735
...              ...
gressløkkrem       1
gressløkkremen     1
grillolje          1
grovhakk           1
(intingolo)        1

[13280 rows x 1 columns]

#### Store korpus

For store korpus, over 300 bøker må de brytes opp i bolker på ca. 300 hver, noe sånt som det her, som skal bruke et par/tre minutter pr. 300 bøker. Er korpuset mindre enn 300 bøker er det bare å bruke `nb.get_aggregated_corpus` direkte. Det som skjer med større korpus er at Jupyter ikke venter lenge nok, og vil avslutte ventingen selv om prosessen fremdeles går på server. 

Cellen under kan bygges om til en funksjon/kommando for lettere bruk etterhvert.

In [10]:
# sett bolkstørrelse

bolk = 300

# hent urnene fra korpuset

korpus_urn = nb.pure_urn(corpus)


# samler opp alle delsummene i counts[]
counts = dict()

# looper over urnene i grupper av bolk

for i in range(0, len(korpus_urn), bolk):
    print("fra", i, "til", i + bolk) # kommenter ut eller endre på output
    counts[i] = nb.get_aggregated_corpus(korpus_urn[i:i+bolk])
    
# legger resultatet i variabelen corpus_counts
# kommandoen slår sammen alle delopptellingene og summerer dem opp

corpus_counts = pd.DataFrame(pd.concat([counts[i] for i in counts], axis=1, sort=False).sum(axis=1))

fra 0 til 300
fra 300 til 600
fra 600 til 900
fra 900 til 1200

Se på corpus_counts

In [36]:
corpus_counts.head()

             0
.    2204112.0
,    1824185.0
og   1431109.0
i    1141568.0
med   613680.0

For å sjekke spesielle ord kan du bruke innebygde panda-kommandoer:

In [35]:
corpus_counts.loc[['hvitvin','øl', 'rødvin']]

               0
hvitvin  11636.0
øl        6839.0
rødvin    7313.0