# Søk i kollokasjon med regulære uttrykk

In [2]:
import dhlab.nbtext as nb
import dhlab.module_update as mu
mu.update('collocations')
import collocations as col

Updated file `C:\Users\larsj\Documents\GitHub\Miscellaneous-Notebooks\collocations.py`

### kollokasjon vs. konkordans
Kollokasjonen kan ta ganske store kontekster - her 30 ord før, og 30 etter

In [12]:
collocations = col.coll_avis('Lillehammer', datefrom="1994-02-01", dateto = "1994-03-01", before = 30, after = 30)

### trunkert søk i kollokasjonen

Bruk det her mønsteret i en dataramme for å søke med trunkerte uttrykk. Der jeg har satt inn `frans.*` og `Frank.*` kan du bruke et hvilket som helst regulært uttrykk, men om du ikke kjenner til regulærer uttrykk, så bare sleng på `.*` etter ordet, punktum matcher en hvilken som helst bokstav, og stjernen indikerer null eller flere match.

In [22]:
collocations[collocations.index.str.contains('frans.*')]

                  0
fransk         19.0
franske        57.0
franskmannen    2.0
franskmenn      2.0
franskmennene  19.0

In [25]:
collocations[collocations.index.str.contains('Frank.*')]

                       0
Canada-Frankrike     1.0
Frank               41.0
Frankfurt           34.0
Frankies             1.0
Franklin             3.0
Frankmennene         1.0
Franknke             1.0
Frankrike          130.0
Frankrike-           7.0
Frankrike-Sverige   52.0
Frankrike-USA        1.0
Frankrikes           8.0
Frankrlkc7uSA        1.0
Italia-Frankrike     1.0

### litt mer
For eksempel om du vil at ordet skal starte med `Fran...` setter du en karet foran `^Frank.*`

In [26]:
collocations[collocations.index.str.contains('^Frank.*')]

                       0
Frank               41.0
Frankfurt           34.0
Frankies             1.0
Franklin             3.0
Frankmennene         1.0
Franknke             1.0
Frankrike          130.0
Frankrike-           7.0
Frankrike-Sverige   52.0
Frankrike-USA        1.0
Frankrikes           8.0
Frankrlkc7uSA        1.0