In [ ]:
import dhlab.nbtext as nb
import pandas as pd

In [41]:
tot = nb.frame(nb.totals(250000), 'tot')
nb.normalize_corpus_dataframe(tot)

True

In [23]:
def agg(urns, step = 500):
    aggs = pd.concat([nb.frame(nb.aggregate_urns(urns[x:x+step]), 'agg') for x in range(0, len(urns), step)], axis = 1).sum(axis = 1)
    return nb.frame_sort(nb.frame(aggs, 'agg'))

In [18]:
urns = nb.book_urn(period = (1980, 1990), limit = 5000)

In [19]:
a0 = agg(urns, step = 500)

In [34]:
a = nb.frame_sort(nb.frame(a0[a0 >8], 'agg'))

In [46]:
nb.frame_sort(nb.frame(a['agg']**1.5/tot['tot'])).head(20)

                        0
tekn.ordb    1.611179e+12
NORBATT      1.286432e+12
Tj.gr        1.213317e+12
Idrettslige  1.196917e+12
Tj.gj        1.174614e+12
.            6.827176e+11
nvs          6.346880e+11
,            5.405213e+11
nsf          5.240040e+11
s.fm         4.806768e+11
i            4.570552e+11
og           4.459376e+11
Helgø        4.436325e+11
hfl          4.356946e+11
Vtl          3.998824e+11
3421         3.942957e+11
av           3.744325e+11
0,00         3.740778e+11
-            3.629632e+11
Ibs          3.452874e+11

In [ ]:
nb.frame_sort(nb.frame(agg['agg']/tot['tot'])).head(20)

In [43]:
tot.loc['glasnost']

tot    1.909747e-07
Name: glasnost, dtype: float64