In [1]:
import dhlab.nbtext as nb

D:\Anaconda3\lib\site-packages\requests\__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.3) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [8]:
corpus = nb.book_corpus(words =['vikingtiden'], limit = 20000)

In [6]:
c = nb.book_corpus(subject = 'vikingtiden', limit = 20000)

In [7]:
c

,urn,author,title,year
0,2014030707081,"Thaugland, Calli",gamle og den nye tid,1981
1,2009012004127,,Erling Skjalgsson,2002
2,2010042803012,"Löfgren, Ulf",Albin Viking,1995
3,2008041100020,"Petersen, Jan",Vikingetidens smykker,1928
4,2009030300114,"Bloch-Nakkerud, Tom",Vikingene,1997
...,...,...,...,...
316,2016020108216,"Sellevold, Berit J.",Haug på Hadseløya: en gravplass fra kristnings...,1996
317,2012082108201,,Sognefjord vikingsenter,1992
318,2010092703020,"Guy, John",Vikingene,1999
319,2013120508006,,Fiender og forbundsfeller,2001
320,2010010804031,"Sørheim, Helge","høvdings gård, en høvdings grav",1997

In [9]:
corpus

,urn,author,title,year
0,2009082101020,,Litteraturboka,1993
1,2015050548046,,Studia junior,2001
2,2013012508035,"Drougge, Unni",Hella Hells bekjennelser,2002
3,2015110608074,"Hauge, Bjarne",Jern og stål,1946
4,2016030308124,"Lillehammer, Grete",Konflikter i landskapet,2003
...,...,...,...,...
7949,2014031708027,"Larsen, Kjell Arne",Sanne og nesten sanne vitser og skrøner om fol...,1998
7950,2008110604088,,Over alle hauger,1997
7951,2014043006060,,Produktdesign 9 fordypning,2011
7952,2012010308084,,Det Norske næringsliv,1952
7953,2009120200082,"Jansby, Berit",Catch,1998