In [1]:
import sqlite3
import os
import tarfile
import gzip
#import sqlite3
import json
import pandas as pd
from time import time
from IPython.display import HTML

In [2]:
from dhlab.nbtokenizer import tokenize

In [3]:
def query(db, sql, params=(), retrieve = 20):
    with sqlite3.connect(db) as con:
        cur = con.cursor()
        res = cur.execute(sql, params).fetchmany(retrieve)
    return res

In [4]:
db = '../ft_index_words.db'

In [5]:
query(db, "select * from sqlite_master")

[('table',
  'ft',
  'ft',
  2,
  'CREATE TABLE ft (identifier integer, para integer, word varchar)'),
 ('index',
  '_wip_',
  'ft',
  11049524,
  'CREATE INDEX _wip_ on ft (word, identifier, para)')]

In [50]:
def find_para(words):

    if words == []:
        return []
    first = words[0]
    
    query_term_select = """select distinct a.identifier, a.para"""
    query_tables =["ft as a"]
    query_term_conditions = ["a.word =?"]
    query_param = [first]
    word_index = 0
    for w in words[1:]:
        tname = "t" + str(word_index)
        query_tables.append("(select identifier, para, word from ft where word = ?) as {tname}".format(tname=tname))
        query_param.append(w)
        query_term_conditions += ["{tname}.identifier = a.identifier".format(tname=tname),"{tname}.para = a.para".format(tname=tname)]
        word_index += 1
    sql_query = query_term_select + " from " + ', '.join(query_tables) + " where " + ' and '.join(query_term_conditions)
    return sql_query, tuple(query_param)

In [57]:
find_para("spise middag alene".split())

('select distinct a.identifier, a.para from ft as a, (select identifier, para, word from ft where word = ?) as t0, (select identifier, para, word from ft where word = ?) as t1 where a.word =? and t0.identifier = a.identifier and t0.para = a.para and t1.identifier = a.identifier and t1.para = a.para',
 ('spise', 'middag', 'alene'))

In [58]:
sql, param = find_para("spise middag alene".split())
res = query(db, sql, param)
res

[(2006082300063, 675),
 (2006112300076, 483),
 (2006112300076, 601),
 (2006121101011, 2250),
 (2006121101029, 1315),
 (2006121300077, 418),
 (2007010400032, 622),
 (2008012202001, 2669),
 (2008012202001, 2778),
 (2008012203003, 2108),
 (2008012303001, 327),
 (2008012303001, 366),
 (2008012303001, 1363),
 (2008012303001, 1603),
 (2008012803001, 1248),
 (2008040200082, 1153),
 (2008040404034, 515),
 (2008040704098, 24),
 (2008040804130, 177),
 (2008041004030, 121)]

In [ ]:
query(db, "select * from ft where identifier = ? and para = ?", (2006082300063, 675))

In [47]:
i = time()
query(db, "create index _ipw_ on ft (identifier, para, word)")
print((time() - i)/60)

3.8772314389546714

In [63]:
query(db, """select a.identifier, a.para, a.word, c.word from ft as a, 
(select b.identifier, b.para, b.word from ft as b where b.word = 'spiser') as c
      where c.identifier = a.identifier and c.para = a.para and a.word = 'Middag'""")

[]

In [5]:
query(db, """select b.word, group_concat(c.word) from ft as c, (select a.identifier, a.para, a.word from ft as a
where a.word = 'Middag') as b where c.identifier = b.identifier and c.para = b.para group by c.identifier, c.para""")

[('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag')]

In [9]:
query(db, "select * from ft where word like 'spise%flatbr%'")

[(2009072901003, 340, 'Spises med flatbr\\xc3\\xb8d eller poteter til.'),
 (2011041820025, 392, 'Spises med flatbr\\xc3\\xb8d eller poteter til.')]