In [1]:
import dhlab.module_update as mu

In [2]:
mu.update('dhlab_v2')

Updated file `C:\Users\larsj\Documents\GitHub\Miscellaneous-Notebooks\dhlab_v2.py`

In [3]:
import dhlab_v2 as d2

In [7]:
corpus = d2.document_corpus(ddk = "839*")

In [13]:
d2.concordance(urns = list(corpus.urn), words = "arbeid drev" ).head(20).style

In [19]:
coll = d2.collocation(corpusquery='norge', word = 'demokrati', before = 10, after = 0)

In [20]:
coll.sort_values(by='counts', ascending = False).head(20)

     counts   dist     bdist
og     8818  37975  4.307823
,      8621  46654  5.412733
.      8441  53193  6.302618
i      5251  28926  5.510375
et     4198  13417  3.199286
for    4176  18088  4.334131
det    4043  19807  4.901607
som    3458  20682  5.983237
av     3313  16396  4.952036
til    3092  15412  4.987718
om     2921  11729  4.019501
er     2784  17034  6.121321
en     2298  14608  6.360000
å      2101  12986  6.184498
på     2099  11481  5.474060
at     2042  11266  5.521526
:      1975  10308  5.224077
med    1720   9317  5.422184
)      1691   9947  5.887183
«      1546   6853  4.439922