In [1]:
import sqlite3
import os
import tarfile
import gzip
#import sqlite3
import json
import pandas as pd
from time import time
from IPython.display import HTML

In [2]:
from dhlab.nbtokenizer import tokenize

In [3]:
def query(db, sql, params=(), retrieve = 20):
    with sqlite3.connect(db) as con:
        cur = con.cursor()
        res = cur.execute(sql, params).fetchmany(retrieve)
    return res

In [4]:
db = '../ft_index_words.db'

In [5]:
query(db, "CREATE TABLE ft (identifier integer, para integer, word varchar)")

OperationalError: table ft already exists

In [12]:
fritt = tarfile.open(name='D:\\Downloads\\fritt.tar', mode='r', fileobj=None, bufsize=10240)

In [45]:
i = time()
books = 1
for member in fritt.getmembers():        
    f = fritt.extractfile(member)
    if f is not None:
        identifier = member.get_info()['name'].split('/')[-1]
        ident = re.findall("[0-9]{13}?",identifier)[0]
        #print(ident)
        books += 1
    if books > 4:
        print(books, time() - i)
        i = time()
        break

5 0.0009996891021728516

In [69]:
i = time()
with sqlite3.connect(db) as con:
    cur = con.cursor()
    books = 1
    for member in fritt.getmembers():        
        f = fritt.extractfile(member)
        if f is not None:
            identifier = member.get_info()['name'].split('/')[-1]
            ident = re.findall("[0-9]{13}?",identifier)[0]
            content = f.read()
            index = 0
            for p in str(content).split('\\n'):
                tokens = tokenize(p)
                for token in tokens:
                    cur.execute("insert into ft values (?, ?, ?)", (ident, index, token))
                index += 1
            books += 1
        if books % 1000 == 0:
            print(books, time() - i)
            i = time()

1000 524.4541702270508
2000 573.4727323055267
3000 542.5064477920532
4000 564.6135151386261
5000 580.0517003536224
6000 552.57275223732
7000 523.0300290584564
8000 528.9255120754242
9000 490.6772336959839
9000 0.0
10000 523.0367524623871
11000 456.55319261550903
12000 541.8271822929382
13000 596.3841803073883
13000 0.0
14000 603.647420167923
15000 536.1326451301575
16000 508.84663486480713
17000 640.0198855400085
18000 651.2928502559662
19000 741.6663675308228
20000 613.2819888591766
21000 572.2028868198395

In [6]:
query(db, "PRAGMA temp_store_directory = 'D:\sql3tmp'")

[]

In [73]:
i = time()
query(db, "create index _wip_ on ft (word, identifier, para)")
print((time() - i)/60)

359.9783931414286

In [7]:
i = time()
query(db, "create index _ipw_ on ft (identifier, para, word)")
print((time() - i)/60)

104.61963746945064