In [2]:
import dhlab.nbtext as nb

In [3]:
urn = nb.pure_urn("https://urn.nb.no/URN:NBN:no-nb_digibok_2018112148500")

In [9]:
nb.metadata(urn)

[]

In [11]:
x = nb.get_freq(urn[0], top=0, cutoff = 0)

In [21]:
nb.urn_coll(word = 'Brit', urns = urn)

            0
.           3
Bildøen     2
og          2
2014,2015   1
Roman       1
Tre         1
august      1
av          1
barnebøker  1
er          1
forfattar   1
havet       1
også        1
omsetjar    1
til         1
vegar       1