In [1]:
import pandas as pd
import dhlab.nbtext as nb

In [2]:
tot = nb.frame_sort(nb.frame(nb.totals(50000)))

In [42]:
tots = tot.loc[[str(x) for x in tot.index if str(x).isalpha()]]

In [63]:
babi = pd.read_csv('babi_ordliste.csv', header=None, index_col = 0)

In [64]:
tot[:200].index

Index(['.', ',', 'og', 'i', 'det', 'som', 'til', 'er', 'av', 'en',
       ...
       '■', 'd', 'S', 'går', 'helt', 'c', 'måtte', 'ikkje', 'si', '...'],
      dtype='object', length=200)

In [77]:
babi = babi.loc[babi.index.dropna()]

In [79]:
babi_words = [str(x) for x in babi.index if str(x).isalpha()]

In [80]:
possibles = [w for w in babi_words if w[0] == w[0].upper() and not w in tots[:400].index and not w.lower() in tots[:400].index]

In [81]:
list(tots.index).index('jeg')

23

In [82]:
def lookup(x):
    if x in babi_words:
        res = babi.loc[x]
    else:
        res = 0
    return res

In [83]:
ratios = nb.frame({x: babi.loc[x]/(1 + lookup(x.lower())) for x in possibles})

In [84]:
nb.frame_sort(ratios)

                    1
Minoo     2155.000000
Aaron     1759.000000
Vanessa   1529.000000
Linnéa    1260.000000
Robby     1212.000000
...               ...
SANT         0.001089
BAK          0.000973
SNAKKE       0.000926
EGENTLIG     0.000856
MITT         0.000633

[14681 rows x 1 columns]

In [85]:
ratios.to_csv('ratios.csv')

In [86]:
ratios = nb.frame_sort(ratios)

In [91]:
ratios[ratios[1] > 4].to_excel('navn_sted_og_egen.xls')