In [1]:
import pandas as pd
import dhlab.nbtext as nb

In [2]:
tot = nb.frame_sort(nb.frame(nb.totals(50000)))

In [42]:
tots = tot.loc[[str(x) for x in tot.index if str(x).isalpha()]]

In [101]:
dtm = pd.read_csv('ord_i_korpus.csv', index_col = 0)

In [63]:
babi = pd.read_csv('babi_ordliste.csv', header=None, index_col = 0)

In [96]:
metadata = pd.read_excel('barnebøker_korpus.xls')

In [97]:
metadata

,Unnamed: 0,100-1- -a,245-1-0-a,260- - -c,653- - -a,lang,year,245-1-0-b,245-1-3-a,245-1-3-b
0,2015090906138,"Daynes, Katie.",NaN,2015,"barnebøker, drager, draker, lettlest",nno,2015,NaN,NaN,NaN
1,2015091006002,"Punter, Russell.",NaN,2015,"barnebøker, lettlest",nno,2015,NaN,NaN,NaN
2,2015091006003,"Punter, Russell.",NaN,2015,"barnebøker, katter, lettlest",nno,2015,NaN,NaN,NaN
3,2015091006004,"Likar, Gudrun.",Prinsesse Fibi og draken,2015,"barnebøker, drager, draker, lettlest, prinsesser",nno,2015,NaN,NaN,NaN
4,2015091006005,"Berge, Atle",Matias Maradona,2015,"barnebøker, fotball, lettlest",nno,2015,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
619,2019011448517,NaN,NaN,[2015],NaN,nob,2015,NaN,NaN,NaN
620,2019011448533,NaN,NaN,cop. 2015,"barnebøker, billedbøker, norsk, ord, pekebøker...",nob,2015,NaN,NaN,NaN
621,2019011448562,NaN,NaN,2015,NaN,nob,2015,NaN,NaN,NaN
622,2019052107102,NaN,NaN,2015,NaN,nob,2015,NaN,NaN,NaN
623,2019052107177,NaN,NaN,2015,NaN,nob,2015,NaN,NaN,NaN

In [102]:
dtm

,2018051448017,2018060807044,2018060807049,2018061807034,2018061807069,2018062507069,2018062607030,2018070507023,2018070507099,2018070507114,...,2018072607271,2018072607298,2018072607320,2018091207011,2018091407049,2018101107031,2018102207052,2018112177044,2019030177042,2018060748070
.,4867.0,10154.0,3646.0,5997.0,2187.0,7677.0,1177.0,4285.0,6819.0,4356.0,...,490.0,4344.0,5799.0,6299.0,9075.0,12300.0,10137.0,2347.0,7610.0,5828.0
",",4729.0,5926.0,2243.0,5337.0,806.0,7066.0,691.0,3730.0,3683.0,2506.0,...,267.0,3061.0,4669.0,5520.0,6413.0,8704.0,7230.0,1560.0,4269.0,4733.0
»,1202.0,3158.0,16.0,2183.0,32.0,2168.0,490.0,1076.0,2182.0,1542.0,...,47.0,518.0,2330.0,1755.0,2380.0,4743.0,4477.0,1275.0,1472.0,2613.0
«,1205.0,3162.0,16.0,2187.0,32.0,2168.0,491.0,1078.0,2192.0,1542.0,...,41.0,516.0,2327.0,1767.0,2384.0,4764.0,4476.0,1271.0,1473.0,2616.0
og,2486.0,2865.0,1090.0,2702.0,641.0,3580.0,424.0,2132.0,2302.0,1378.0,...,210.0,2530.0,2236.0,2314.0,3426.0,4630.0,3967.0,798.0,2892.0,2223.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Booooiimrmnrmgggg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Boiinngg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Boiiiinnnggg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BHÆftSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9788293049296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
tot[:200].index

Index(['.', ',', 'og', 'i', 'det', 'som', 'til', 'er', 'av', 'en',
       ...
       '■', 'd', 'S', 'går', 'helt', 'c', 'måtte', 'ikkje', 'si', '...'],
      dtype='object', length=200)

In [103]:
babi = babi.loc[babi.index.dropna()]

In [104]:
babi_words = [str(x) for x in babi.index if str(x).isalpha()]

In [105]:
possibles = [w for w in babi_words if w[0] == w[0].upper() and not w in tots[:400].index and not w.lower() in tots[:400].index]

In [106]:
list(tots.index).index('jeg')

23

In [107]:
def lookup(x):
    if x in babi_words:
        res = babi.loc[x]
    else:
        res = 0
    return res

In [108]:
ratios = nb.frame({x: babi.loc[x]/(1 + lookup(x.lower())) for x in possibles})

In [109]:
nb.frame_sort(ratios)

                    1
Minoo     2155.000000
Aaron     1759.000000
Vanessa   1529.000000
Linnéa    1260.000000
Robby     1212.000000
...               ...
SANT         0.001089
BAK          0.000973
SNAKKE       0.000926
EGENTLIG     0.000856
MITT         0.000633

[14681 rows x 1 columns]

In [110]:
ratios.to_csv('ratios.csv')

In [111]:
ratios = nb.frame_sort(ratios)

In [113]:
ratios.head(50)

                  1
Minoo       2155.00
Aaron       1759.00
Vanessa     1529.00
Linnéa      1260.00
Robby       1212.00
Clary        895.00
Jace         867.00
Karou        747.00
Sebastian    560.00
Connie       528.00
Shann        493.00
Gina         486.00
Isabelle     483.00
Ida          465.00
Magnus       458.00
Georg        447.00
Alec         441.00
Margo        418.00
Henry        412.00
Viktor       395.00
McKeon       381.00
Michael      378.00
Linnea       360.00
Gustaf       356.00
Akiva        350.00
Radar        333.00
Nicolaus     329.00
Daniel       327.00
Howie        323.00
Jazz         319.25
Johnny       318.00
Clara        298.00
Evelina      297.00
Zara         284.00
Viggo        280.00
Torger       270.00
Oliver       269.00
Alrik        268.00
Beck         264.00
Brennstein   257.00
Filip        254.00
Charlie      250.00
Arthur       249.00
Brees        249.00
Madrigal     245.00
Walt         244.00
Matilda      244.00
Jude         225.00
Felix        224.00
Walter       220.50

In [91]:
ratios[ratios[1] > 4].to_excel('navn_sted_og_egen.xls')