In [1]:
import dhlab.nbtext as nb
from dhlab.module_update import css
%matplotlib inline
css()

In [2]:
prostitusjonsvariabel = 'prostitution, prostituere, tøs, magdalena, fruentimmer, baronesse'

In [3]:
prostitusjonskorpus = nb.book_corpus(words = prostitusjonsvariabel.split(', '), period = (1880, 1900), limit = 100000)

In [4]:
prostitusjonskorpus_list = nb.pure_urn(prostitusjonskorpus)

In [5]:
collword = 'baronesse'

In [6]:
len(prostitusjonskorpus_list)

830

In [7]:
coll = nb.urn_coll(collword, urns = prostitusjonskorpus_list, after = 5, before = 5, limit = 1000)

In [8]:
coll.head(20)

         0
,      272
.      139
og      39
af      37
f       33
v.      28
i       27
den     25
til     23
en      19
(       18
de      18
von     17
?       15
med     15
fru     15
;       15
"       15
»       14
Korff   13

In [9]:
tot = nb.frame(nb.totals(top = 50000))

In [10]:
tot.head(10)

              0
.    1265723110
,    1105303412
og    543432056
i     460246057
det   273411583
som   265144740
til   254500136
er    248764786
av    235180661
en    231631623

In [11]:
korpus_agg = nb.aggregate_urns(prostitusjonskorpus_list)

In [12]:
korpus_agg = nb.frame_sort(nb.frame(korpus_agg))

In [13]:
korpus_agg.head(10)

          0
,   9033633
.   6167504
og  2370357
i   1882743
at  1542092
;   1508253
)   1477853
en  1128685
©   1071141
af   996845

In [14]:
nb.normalize_corpus_dataframe(korpus_agg)
nb.normalize_corpus_dataframe(tot)
nb.normalize_corpus_dataframe(coll)

True

In [15]:
korpus_agg.head()

           0
,   0.076370
.   0.052140
og  0.020039
i   0.015917
at  0.013037

In [16]:
tot.head()

            0
.    0.058921
,    0.051453
og   0.025297
i    0.021425
det  0.012728

In [17]:
coll.head()

           0
,   0.121429
.   0.062054
og  0.017411
af  0.016518
f   0.014732

In [18]:
coll_assoc = nb.frame_sort(coll**1.0/tot)

In [19]:
coll_assoc.head(20)

                     0
Dagmar     1504.111963
Jarlsberg  1061.809767
kære        809.262456
indfandt    745.522592
Juliane     709.662919
Clara       640.940728
Wedel       617.436895
baron       601.925645
Juel        591.344438
212.        554.737808
linn        513.825003
174.        496.083070
mødt        442.324148
289.        438.421407
kusk        435.751993
indføres    434.193411
298.        431.167605
opdager     413.898570
Fik         405.892829
271.        404.779244

In [20]:
lista = nb.get_freq(prostitusjonskorpus_list)

In [21]:
print(lista['baronesse'])

0

In [58]:
nb.get_freq(prostitusjonskorpus_list)

Counter({'.': 1913,
         ',': 1179,
         'det': 438,
         'og': 417,
         'er': 373,
         'ikke': 325,
         'jeg': 316,
         'at': 305,
         '(': 290,
         ')': 288,
         'i': 259,
         'på': 209,
         'Blom': 202,
         'som': 191,
         '!': 184,
         'har': 183,
         'til': 178,
         'du': 174,
         'Helene': 174,
         'så': 160,
         '?': 158,
         'for': 151,
         'De': 140,
         'med': 139,
         'Statsråden': 139,
         'Jeg': 138,
         'en': 137,
         'af': 137,
         'Ulrikke': 129,
         'mig': 127,
         'Strøm': 123,
         'Det': 116,
         'Tante': 105,
         'skal': 103,
         'Ejvind': 100,
         'var': 98,
         'de': 95,
         'hende': 93,
         'da': 89,
         'den': 88,
         'sig': 86,
         'hun': 84,
         'om': 82,
         ';': 82,
         'kan': 81,
         'går': 80,
         'vi': 79,
         'Ja': 78,
         'jo': 75,
         'dig': 74})