# Nye kanon NTNU - februar 2020

Lage tematiske ord: stedsnavn, se på bredden av stedsnavn i korpuset
minoriteter. Miljø og klima osv.

* helse
* medbrorgere
* bærekraft
* oppgaver - analyse

Hvordan kan arkivet bli nyttig for lærere og lærerstudenter?

Litteratur og klassifisering som mengde av ord - cluster etc.

STTR
Ordforråd, bredde etc. sjeldne ord.

In [2]:
import dhlab.nbtext as nb
import pandas as pd
import qgrid as qg

## Lag et korpus

In [18]:
nb.get_urn??

In [25]:
korpus = nb.book_corpus( trans='sme')

In [26]:
qg.show_grid(korpus)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [9]:
texts = nb.get_corpus_text(nb.pure_urn(korpus), cutoff = 1)

In [10]:
texts

,2008052104076,2012062705080,2013080908061,2012033008103,2013092407098,2012062905066,2007072604055,2007052504015,2012012705007,2014111808053,2007032201003,2012061906021,2014102308091,2011012806004,2014092308158,2007070500096,2013041608106,2012061105063,2012033008082,2012092706021
.,7238.0,252.0,5177.0,1727.0,5029.0,116.0,4473.0,2110.0,2074.0,2291.0,5488.0,1369.0,1383.0,1925.0,2142.0,7942.0,4256.0,1247.0,2498.0,1703.0
",",6020.0,125.0,2615.0,888.0,4234.0,90.0,2876.0,1155.0,1413.0,1921.0,3187.0,5636.0,1597.0,1846.0,1548.0,9044.0,1901.0,909.0,1466.0,4020.0
i,3502.0,101.0,1041.0,416.0,1799.0,80.0,1260.0,638.0,271.0,1361.0,1602.0,1076.0,554.0,753.0,713.0,5006.0,1056.0,511.0,936.0,990.0
er,3477.0,39.0,548.0,272.0,1208.0,49.0,444.0,596.0,458.0,446.0,564.0,305.0,333.0,172.0,754.0,2650.0,365.0,445.0,549.0,410.0
og,3440.0,125.0,1144.0,914.0,3621.0,83.0,1934.0,677.0,396.0,1287.0,1262.0,1815.0,939.0,1130.0,1209.0,5690.0,1651.0,538.0,1006.0,1617.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Bjørnstjerne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
Bing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
Bestandig,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
Askeladden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
Aristoteles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

# Hent noe å sammenligne med

In [14]:
top = nb.frame(nb.totals(50000), 'tot')

In [15]:
top

                     tot
.             1265723110
,             1105303412
og             543432056
i              460246057
det            273411583
...                  ...
innst              21677
parsellen          21676
containere         21676
Islamic            21676
kvinnelighet       21675

[50000 rows x 1 columns]

# Vekstdiagram