In [6]:
import dhlab.nbtext as nb
import pandas as pd

In [17]:
nno = nb.book_corpus(lang ='nno', limit = 300, period = (1990, 2010))

In [18]:
nob = nb.book_corpus(lang ='nob', limit = 300, period = (1990, 2010))

In [25]:
fosse = nb.book_corpus(author = 'fosse%jon%', lang ='nno', limit = 300, period = (1990, 2010))

In [20]:
nno_agg = nb.aggregate_urns (list(nno.urn))

In [21]:
nob_agg = nb.aggregate_urns(list(nob.urn))

In [26]:
fosse_agg = nb.aggregate_urns(list(fosse.urn))

In [31]:
aggs = pd.DataFrame( {'nno':nno_agg, 'nob': nob_agg})

In [32]:
ordindeks = [x for x in aggs.index if x.isalpha()]

In [45]:
aggs.loc [ordindeks].sort_values(by = 'nno', ascending = False).head(15).applymap(lambda x:int(x/1000)).transpose().style.background_gradient(axis = 1)