In [1]:
import pandas as pd
import dhlab.nbtext as nb

In [2]:
tot = nb.frame(nb.totals(50000), 'tot')

In [3]:
nno = pd.read_csv('nno.csv', index_col = 0)

In [4]:
nno.columns = ['freq']

In [5]:
nb.normalize_corpus_dataframe(nno)
nb.normalize_corpus_dataframe(tot)

True

In [6]:
nno_alpha = nno[nno.index.fillna('').str.isalpha()]
tot_alpha = tot[tot.index.fillna('').str.isalpha()]
nb.normalize_corpus_dataframe(nno_alpha)
nb.normalize_corpus_dataframe(tot_alpha)

C:\Users\larsj\AppData\Local\Continuum\anaconda3\lib\site-packages\dhlab\nbtext.py:669: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[x] = df[x].fillna(0)/colsums[x]

True

In [10]:
nno_alpha.head(500).sum()

freq    0.567267
dtype: float64

In [11]:
nno_alpha.head(500)

             freq
og       0.034995
i        0.028635
det      0.017033
til      0.015668
som      0.014966
...           ...
gongen   0.000191
Ivar     0.000152
Desse    0.000178
einaste  0.000178
kroppen  0.000141

[500 rows x 1 columns]

In [24]:
diff = nb.frame(nno_alpha.freq/tot_alpha.tot, 'ratio')

In [25]:
diff.sort_values(by = 'ratio', ascending=False)[:100]

                     ratio
gnr              21.384646
deltakarane      18.424531
meirverdiavgift  18.202414
Løvland          16.571225
yvi              16.319288
...                    ...
kommunar         11.556999
gjenom           11.553886
organisasjonane  11.549839
Korleis          11.547083
dårlegare        11.533647

[100 rows x 1 columns]

In [26]:
diff.loc['Ikkje']

ratio    10.365535
Name: Ikkje, dtype: float64

In [27]:
nno100 = nno_alpha.sort_values(by='freq', ascending=False).head(100).index

In [28]:
top100 = diff.loc[nno100]

In [29]:
nno.sort_values(by='freq', ascending=False)[:150].sum()

freq    0.506107
dtype: float64

In [19]:
t2 = nno_alpha.sort_values(by='freq', ascending=False)[:300]

In [20]:
t2.head(20)

           freq
og     0.034995
i      0.028635
det    0.017033
til    0.015668
som    0.014966
er     0.014583
på     0.013703
av     0.011768
med    0.011459
for    0.010207
var    0.010002
ein    0.009516
dei    0.009278
å      0.009098
han    0.008960
at     0.008725
ikkje  0.006809
den    0.006107
har    0.006040
seg    0.005322

In [32]:
t2.loc[[x for x in t2.index if not x in t2.loc[t2.index.str.isalpha()].index]].sum()

freq    0.0
dtype: float64

In [33]:
t2.sort_values(by='freq', ascending=True)

            freq
først   0.000314
Hans    0.000314
Knut    0.000314
fordi   0.000315
lenger  0.000317
...          ...
som     0.014966
til     0.015668
det     0.017033
i       0.028635
og      0.034995

[300 rows x 1 columns]

In [35]:
t100 = nb.frame_sort(diff.loc[nb.frame_sort(t2).head(100).index])[:100]

In [36]:
len(t100[t100.ratio > 1.2])

35

In [37]:
len(t100)

100

# Sjekk med ordpar fra apertium

In [12]:
import pandas as pd

In [66]:
distinkt = pd.read_csv("distinkte_ordpar.csv", index_col = 0)

In [67]:
distinkt.columns = ['nno', 'nob']

In [68]:
nno.loc[[w for w in list(distinkt.nno) if w in nno.index]].freq

kva            7.841961e-04
kven           1.169248e-04
kvarandre      2.008139e-04
noko           1.151411e-03
noko           1.151411e-03
                   ...
seinare        2.881198e-04
frå            3.438597e-03
osb            1.531457e-06
sørfrå         1.003812e-06
allverdsens    9.008571e-08
Name: freq, Length: 10027, dtype: float64

In [79]:
list(distinkt.head().itertuples())

[Pandas(Index=0, nno='kva', nob='hva', nno_freq=0, nob_freq=0),
 Pandas(Index=1, nno='kven', nob='hvem', nno_freq=0, nob_freq=0),
 Pandas(Index=2, nno='segsjølv', nob='segselv', nno_freq=0, nob_freq=0),
 Pandas(Index=3, nno='kvarandre', nob='hverandre', nno_freq=0, nob_freq=0),
 Pandas(Index=4, nno='noko', nob='noe', nno_freq=0, nob_freq=0)]

In [70]:
distinkt['nno_freq'] = 0
distinkt['nob_freq'] = 0

In [131]:
from dhlab.nbtokenizer import tokenize
from collections import Counter

In [134]:
def eval_text(distinkt, text = "dette er ikkje ein nynorsk tekst."):
    tokens = pd.DataFrame.from_dict(Counter(tokenize(text)), orient='index')
    return tokens

In [136]:
et = eval_text(distinkt, text="selvskreven e ikkje dette før ein nynorsk text eller kva, hva?")

In [153]:
dnno = pd.read_csv("distinkte_ordpar.csv", index_col = 1)
dnob = pd.read_csv("distinkte_ordpar.csv", index_col = 2)

In [154]:
dnob = pd.DataFrame(dnob['0'])

In [156]:
dnno = pd.DataFrame(dnno['1'])

In [160]:
dnno.loc[[x for x in et.index if x in dnno.index]]

                  1
0
ikkje          ikke
ikkje          ikke
før    ipåventeavat
før       iforveien
ein             man
ein              en
ein              en
ein              en
ein              en
ein              en
ein              en
kva             hva
kva         hvilken
kva             hva

In [151]:
dnob

1
hva                   kva
hvem                 kven
segselv          segsjølv
hverandre       kvarandre
noe                  noko
                 ...
senere            seinare
fra                   frå
osv                   osb
sørfra             sørfrå
allverdens    allverdsens
Name: 0, Length: 12087, dtype: object

In [144]:
et.loc[[x for x in distinkt.head(150).index if x in et.index]]

       0
,      1
?      1
ein    1
ikkje  1
eller  1
dette  1
kva    1
før    1
e      1

In [89]:
for r in distinkt[distinkt.nno == 'kva'].index:
    distinkt.loc[r, 'nno_freq'] += 1

In [87]:
distinkt.loc[distinkt[distinkt.nno == 'kva'].index]['nno_freq'] = 1

In [93]:
distinkt[distinkt.nno_freq != 0]

       nno      nob  nno_freq  nob_freq
0      kva      hva         3         0
18     kva  hvilken         3         0
11305  kva      hva         3         0

In [129]:
eval_text(distinkt)

['dette', 'er', 'ikkje', 'ein', 'nynorsk', 'tekst', '.']

                nno          nob  nno_freq  nob_freq
0               kva          hva         8         5
6               ein          man        34         0
18              kva      hvilken         8         0
24              ein           en        34         0
25              ein           en        34         0
26              ein           en        34         0
27              ein           en        34         0
28              ein           en        34         0
656           ikkje         ikke        34         0
7599   sjølvskriven  selvskreven         0         2
11276         ikkje         ikke        34         0
11280           ein           en        34         0
11305           kva          hva         8         5

In [56]:
distinkt.sum()

nno_freq    0
nob_freq    0
dtype: int64

In [52]:
nno_alpha.loc[list(distinkt.nno)].sum()

C:\Users\larsj\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

freq    0.482781
dtype: float64