In [74]:
import pandas as pd
import dhlab.nbtext as nb

In [75]:
tot = nb.frame(nb.totals(50000), 'tot')

In [76]:
nno = pd.read_csv('nno.csv', index_col = 0)

In [77]:
nno.columns = ['freq']

In [78]:
nb.normalize_corpus_dataframe(nno)
nb.normalize_corpus_dataframe(tot)

True

In [107]:
nno_alpha = nno[nno.index.fillna('').str.isalpha()]
tot_alpha = tot[tot.index.fillna('').str.isalpha()]
nb.normalize_corpus_dataframe(nno_alpha)
nb.normalize_corpus_dataframe(tot_alpha)

True

In [108]:
diff = nb.frame(nno_alpha.freq/tot_alpha.tot, 'ratio')

In [109]:
diff.sort_values(by = 'ratio', ascending=False)[:100]

                     ratio
gnr              21.384646
deltakarane      18.424531
meirverdiavgift  18.202414
Løvland          16.571225
yvi              16.319288
...                    ...
kommunar         11.556999
gjenom           11.553886
organisasjonane  11.549839
Korleis          11.547083
dårlegare        11.533647

[100 rows x 1 columns]

In [110]:
diff.loc['Ikkje']

ratio    10.365535
Name: Ikkje, dtype: float64

In [113]:
nno100 = nno_alpha.sort_values(by='freq', ascending=False).head(100).index

In [114]:
top100 = diff.loc[nno100]

In [115]:
nno.sort_values(by='freq', ascending=False)[:150].sum()

freq    0.506107
dtype: float64

In [119]:
t2 = nno_alpha.sort_values(by='freq', ascending=False)[:300]

In [120]:
t2

            freq
og      0.034995
i       0.028635
det     0.017033
til     0.015668
som     0.014966
...          ...
lenger  0.000317
fordi   0.000315
Knut    0.000314
Hans    0.000314
først   0.000314

[300 rows x 1 columns]

In [86]:
t2.loc[[x for x in t2.index if not x in t2.loc[t2.index.str.isalpha()].index]].sum()

freq    0.182279
dtype: float64

In [87]:
t2.sort_values(by='freq', ascending=True)

          freq
Eit   0.000279
seie  0.000283
finn  0.000283
fått  0.000285
16    0.000285
...        ...
det   0.013077
i     0.021984
og    0.026866
,     0.045125
.     0.054732

[300 rows x 1 columns]

In [94]:
t100 = nb.frame_sort(diff.loc[nb.frame_sort(t2).head(100).index])[:100]

In [100]:
len(t100[t100.ratio > 1.2])

24

In [99]:
len(t100)

100