In [8]:
import pandas as pd
import dhlab.nbtext as nb

In [9]:
tot = nb.frame(nb.totals(50000), 'tot')

In [5]:
nno = pd.read_csv('nno.csv', index_col = 0)

In [11]:
nno

                    0
.           8505838.0
,           7012691.0
og          4175188.0
i           3416414.0
det         2032193.0
...               ...
Gudstankar        1.0
Gullsme           1.0
Gunnarson-        1.0
Haahaahaa         1.0
09338             1.0

[3551517 rows x 1 columns]

In [16]:
nb.normalize_corpus_dataframe(nno)
nb.normalize_corpus_dataframe(tot)

True

In [37]:
diff = nb.frame(nno['0']/tot.tot, 'ratio')

In [38]:
diff.sort_values(by = 'ratio', ascending=False)[:100]

                     ratio
gnr              21.586990
deltakarane      18.598866
meirverdiavgift  18.374648
Løvland          16.728023
yvi              16.473703
...                    ...
svingar          11.677333
kommunar         11.666352
gjenom           11.663210
organisasjonane  11.659125
Korleis          11.656343

[100 rows x 1 columns]

In [39]:
diff.loc['Ikkje']

ratio    10.463615
Name: Ikkje, dtype: float64

In [25]:
nno100 = nno.sort_values(by='0', ascending=False).head(100).index

In [33]:
top100 = diff.loc[nno100]

In [43]:
nno.sort_values(by='0', ascending=False)[:150].sum()

0    0.506107
dtype: float64

In [44]:
t2 = nno.sort_values(by='0', ascending=False)[:200]

In [57]:
t2.loc[[x for x in t2.index if not x in t2.loc[t2.index.str.isalpha()].index]].sum()

0    0.177639
dtype: float64

In [36]:
top100.sort_values(by=0, ascending=True)

               0
en      0.101949
også    0.617797
den     0.665994
ved     0.672578
"       0.699440
...          ...
ho     10.764008
berre  10.768520
Eg     10.812776
Dei    10.914033
noko   11.096136

[100 rows x 1 columns]