In [1]:
import dhlab.nbtext as nb
import dhlab.module_update as mu

In [10]:
k = nb.book_corpus(words =['telegraf', 'telegrafen'], period=(1850, 1860), limit = 500)

In [10]:
k = nb.book_corpus(words =['telegraf', 'telegrafen'], period=(1850, 1870), limit = 500)

In [8]:
agg = nb.frame_sort(nb.frame(nb.aggregate_urns(list(k.urn))))

In [9]:
nb.frame(agg)

                 0
,           251281
.           185292
©            75809
-            61149
en           46421
...            ...
bnrbc            1
bnrbefulb        1
bnrbefulbe       1
bnrbeé           1
forbtbe          1

[281010 rows x 1 columns]