In [1]:
import dhlab.nbtext as nb
import dhlab.module_update as mu
mu.update("mods_meta")
import mods_meta as mm
import pandas as pd

Updated file `D:\documents\GitHub\Miscellaneous-Notebooks\mods_meta.py`

In [2]:
import matplotlib.pyplot as plt
import json

In [3]:

korpus = nb.pure_urn(nb.book_corpus(period=(1910, 2010), limit= 10000))

In [4]:
with open('marc_dump.json') as f:
    mt = json.load(f)

In [24]:
def sidetall_fra_metadata(marc_dict):
    import re

    res = list()
    for x in marc_dict:
        if '300- - -a' in marc_dict[x] and 'year' in marc_dict[x]:
            side = marc_dict[x]['300- - -a']
            u = re.findall('[0-9]+', side)
            year = marc_dict[x]['year']
            if year > 1900:
                if u == []:
                    u = [0]
                res.append((year,int(u[0])))
    return res

In [25]:
sidedata = sidetall_fra_metadata(mt)

In [26]:

sidetall = nb.frame(sidedata)
sidetall

           0    1
0       1925  328
1       1937  384
2       1958  187
3       1960  147
4       1948   91
...      ...  ...
238997  1960  133
238998  1947   23
238999  1980  125
239000  1986    1
239001  1992  171

[239002 rows x 2 columns]

In [ ]:
sidetall.plot.scatter(0,1, figsize=(10,5), color='orange', title='Tjukke mursteiner og tynne lefser')
plt.ylabel("Antall sider")
plt.xlabel("År");