In [1]:
import sqlite3
import os
import tarfile
import gzip
#import sqlite3
import json
import pandas as pd
from time import time
from IPython.display import HTML

In [6]:
from dhlab.nbtokenizer import tokenize

In [9]:
def query(db, sql, params=(), retrieve = 20):
    with sqlite3.connect(db) as con:
        cur = con.cursor()
        res = cur.execute(sql, params).fetchmany(retrieve)
    return res

In [67]:
db = '../ft_index_words.db'

In [68]:
query(db, "CREATE TABLE ft (identifier integer, para integer, word varchar)")

[]

In [12]:
fritt = tarfile.open(name='D:\\Downloads\\fritt.tar', mode='r', fileobj=None, bufsize=10240)

In [45]:
i = time()
books = 1
for member in fritt.getmembers():        
    f = fritt.extractfile(member)
    if f is not None:
        identifier = member.get_info()['name'].split('/')[-1]
        ident = re.findall("[0-9]{13}?",identifier)[0]
        #print(ident)
        books += 1
    if books > 4:
        print(books, time() - i)
        i = time()
        break

5 0.0009996891021728516

In [ ]:
i = time()
with sqlite3.connect(db) as con:
    cur = con.cursor()
    books = 1
    for member in fritt.getmembers():        
        f = fritt.extractfile(member)
        if f is not None:
            identifier = member.get_info()['name'].split('/')[-1]
            ident = re.findall("[0-9]{13}?",identifier)[0]
            content = f.read()
            index = 0
            for p in str(content).split('\\n'):
                tokens = tokenize(p)
                for token in tokens:
                    cur.execute("insert into ft values (?, ?, ?)", (ident, index, token))
                index += 1
            books += 1
        if books % 1000 == 0:
            print(books, time() - i)
            i = time()

In [ ]:
i = time()
query(db, "create index _wip_ on ft (word, identifier, para)")
print((time() - i)/60)

In [47]:
i = time()
query(db, "create index _ipw_ on ft (identifier, para, word)")
print((time() - i)/60)

3.8772314389546714

In [63]:
query(db, """select a.identifier, a.para, a.word, c.word from ft as a, 
(select b.identifier, b.para, b.word from ft as b where b.word = 'spiser') as c
      where c.identifier = a.identifier and c.para = a.para and a.word = 'Middag'""")

[]

In [66]:
query(db, """select b.word, group_concat(c.word) from ft as c, (select a.identifier, a.para, a.word from ft as a
where a.word = 'Middag') as b where c.identifier = b.identifier and c.para = b.para group by c.identifier, c.para""")

[('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag'),
 ('Middag', 'Middag')]