In [1]:
import dhlab.nbtext as nb

In [2]:
import pandas as pd

In [9]:
data = pd.read_excel('Oversikt norske romaner 1850-1899.xlsx')
data

,Fofatter,Tittel,Publisert,Utgivelsessted,URN,Kjønn,Psevdonym,Psevdonym II,Senere utgave:,Unnamed: 9
0,A. Askeland,Smaa Solstreif,1890,Bergen,Ikke-digitalisert,Ukjent,NaN,NaN,NaN,NaN
1,A. Holmsen,Erindringer fra en norsk smaaby,1887,Kristiania,http://urn.nb.no/URN:NBN:no-nb_digibok_2015062...,Mann,Felix,NaN,NaN,NaN
2,Adolf Skramstad,Et Udskud : Fortælling,1890,Kristiania,http://urn.nb.no/URN:NBN:no-nb_digibok_2010042...,Mann,NaN,NaN,NaN,NaN
3,Adolf Skramstad,Paa bygden : fortælling,1897,Kristiania,https://urn.nb.no/URN:NBN:no-nb_digibok_200804...,Mann,NaN,NaN,NaN,NaN
4,Alexander Kielland,Garman & Worse,1880,København,https://urn.nb.no/URN:NBN:no-nb_digibok_200909...,Mann,NaN,NaN,https://urn.nb.no/URN:NBN:no-nb_digibok_200902...,NaN
...,...,...,...,...,...,...,...,...,...,...
520,Vilhelm Krag,Den glade løitnant: Lyrisk fortælling,1896,Kristiania,https://urn.nb.no/URN:NBN:no-nb_digibok_200904...,Mann,NaN,NaN,NaN,NaN
521,Vilhelm Krag,Rachel Strømme,1898,Kristiania,https://urn.nb.no/URN:NBN:no-nb_digibok_200608...,Mann,NaN,NaN,NaN,NaN
522,Vilhelm Krag,Marianne,1899,København,https://urn.nb.no/URN:NBN:no-nb_digibok_200904...,Mann,NaN,NaN,NaN,NaN
523,Vilhelm Poulsen,Øistein: en Fortælling fra Hardanger,1879,Hamar,Ikke-digitalisert,Mann,NaN,NaN,NaN,NaN
524,Waldemar Gran,Polly: Fortælling fra Virkeligheden,1882,Kristiania,Ikke-digitalisert,Mann,NaN,NaN,NaN,NaN

In [10]:
urner = nb.pure_urn(' '.join(data.URN))

In [12]:
len(urner)

380

In [11]:
agg = nb.aggregate_urns(urner)

In [16]:
df = nb.frame_sort(nb.frame(agg, 'frekv'))

In [20]:
df[df.frekv > 5]

               frekv
,            1221240
.             791890
og            519852
at            283596
i             274068
...              ...
avsett             6
avreise            6
fjølt              6
Kiews              6
Gamle-Eirik        6

[86614 rows x 1 columns]

In [ ]:
tags = {w:nb.word_form(w) for w in list(df.index)}
tags