Embeddinger for ord - det vil nok ta litt tid, alt avhengig av størrelse på korpus. En eller annen form for parallellitet er  nok nødvendig, om det skal gjennom 20000 ord.

In [1]:
import dhlab.nbtext as nb

In [6]:
korpus = nb.book_corpus(period=(1980, 2000), limit = 300)

In [7]:
coll = nb.urn_coll('arbeid', nb.pure_urn(korpus), before = 5, after = 5)

In [10]:
coll.head()

        0
.    1317
i    1048
,     963
og    908
for   567